<!--NAVBAR-->

<nav class="navbar navbar-light bg-light py-2 d-flex align-items-center">
  <a class="navbar-brand" href="#">
    <img src="../assets/logoSustentart.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SustentArt
  </a>

  <div>
    <button type="button" class="btn btn-outline-success">Cadastrar Temas</button>
  </div>

  <div class="form-inline" *ngIf='authService.btnLogin()'>

   <!-- Campo Login -->
   
    <label class="sr-only" for="email" >E-Mail</label>
    <div class="input-group mr-2">
      <input type="text" class="form-control" id="email" [(ngModel)]="userLogin.email" placeholder="E-Mail">
    </div>

    <label class="sr-only" for="senha">Nome</label>
    <input type="password" class="form-control mr-2" id="senha" placeholder="Senha" [(ngModel)]="userLogin.senha">

    <button class="btn btn-success" type="submit" (click)='entrar()'>Login</button>

  </div>
  <!-- Campo Login -->

  
  <!--Botão SAIR-->
  <div *ngIf='authService.btnSair()'>
     <ul>
        <li>
          <button class="btn btn-outline-success" (click)='sair()'>Sair</button>
        </li>
      </ul>
    
  </div>  
  <!--/Botão SAIR-->


</nav>
<!--/NAVBAR-->