<!--NAVBAR-->

<nav class="navbar navbar-light bg-light py-2 d-flex align-items-center">
  <a class="navbar-brand" href="#">
    <img src="../assets/logoSustentart.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SustentArt
  </a>

  <!-- Campo Login -->
  <form class="form-inline">

    <label class="sr-only" for="email" >E-Mail</label>
    <div class="input-group mr-2">
      <input type="text" class="form-control" id="email" [(ngModel)]="email" placeholder="E-Mail">
    </div>

    <label class="sr-only" for="inlineFormInputName2">Nome</label>
    <input type="password" class="form-control mr-2" id="inlineFormInputName2" placeholder="Senha">

    <button class="btn btn-success" type="submit">Login</button>

  </form>
  <!-- Campo Login -->
  
</nav>

<!--/NAVBAR-->