<!-- "Pagina Cadastra + Texto" -->
<div class="container box mt-5 mb-5 col-md-5">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Cadastrar</h1>
    </div>
  </div>

  <div class="row mb-5 d-flex justify-content-center ">
    <div class="col-md-8">
      <!-- "Pagina Cadastra + Texto" -->


      <!-- Campo Foto de Perfil + Campo URL + Botão -->
      <div class="d-flex justify-content-center ">

        <img class=" border border-primary rounded d-flex justify-content-center" src="../assets/selfie.png"
          alt="Imagem de Perfil" style="width:180px">

        <div class="form-group mt-3 mb-3 ml-3 ">
          <label class="d-flex justify-content-center">Foto de Perfil</label>
          <input type="text" class="form-control" id="fotoPerfil" placeholder=" URL da imagem">

          <button class="btn btn-outline-success btn-sm d-flex justify-content-center mt-2 "
            type="button">Alterar</button>
        </div>
      </div>
      <!-- Campo Foto de Perfil + Campo URL + Botão -->

      <!-- Campo, dados do usuario -->
      <div class="form-group mt-3">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome e Sobrenome" [(ngModel)]='user.nome'>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="e-mail@email.com" [(ngModel)]='user.email'>
      </div>

      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" id="telefone" placeholder="1199999-9999" [(ngModel)]='user.telefone'>
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Senha" (input)='conferirSenha($event)' value='{{senha}}'> 

      </div>

      <div class="form-group">
        <label for="senhaConf">Confirmar Senha</label>
        <input type="password" class="form-control" id="senhaConf" placeholder="Confirmar Senha" [(ngModel)]='user.senha'>
      </div>
      <!-- Campo, dados do usuario -->

      <!-- Check termos de uso -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>

        <label class="form-check-label" for="invalidCheck">
          Concordo com os termos de uso.</label>
      </div>
      <!-- Check termos de uso -->

      <!-- Botão cadastrar -->
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-outline-success w-25" (click)="cadastrar()">Cadastrar</button>
      </div>
      <!-- Botão cadastrar -->

    </div>
  </div>
</div>