<div class="container">

    <!-- Texto e Foto -->
    <div class="container">

        <div class="row mt-3 mb-3 d-flex align-items-center">
            <div class="col-md-6">
                <p class="lead justify-content-center"> O <b>SustentArt</b> é um projeto sustentável e inclusivo, que
                    visa criar uma comunidade de pessoas interessadas em dar uma nova utilidade para itens muitas vezes
                    descartados.</p>

                <p class="lead justify-content-center">Pode ainda, ensinar, por meio de oficinas e cursos, pessoas
                    interessadas em aprender novas habilidades, usando os itens à disposição <b>SustentArt</b> como
                    matéria-prima. </p>

                <div class="form-inline my-2 my-lg-0 ">
                    <button class="btn btn-success my-3 my-sm-0 mt-5" type="button" data-toggle="modal"
                        data-target="#cadastro">Cadastrar</button>
                </div>
            </div>



            <!-- Modal Cadastro de usuario -->
            <div class="modal fade" id="cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <!-- Titulo -->
                        <div class="modal-header">
                            <h5 class="modal-title d-flex text-center" id="tituloCadastrar"> Cadastrar </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <!-- Titulo -->

                        <!-- "Pagina Cadastra + Texto" -->
                        <div class="modal-body">

                            <div class="row mb-5 d-flex justify-content-center ">
                                <div class="col-md-8">

                                    <!-- Campo Foto de Perfil + Campo URL + Botão -->
                                    <div class="d-flex justify-content-center ">

                                        <img class="border border-primary rounded d-flex justify-content-center"
                                            src="../assets/selfie.png" alt="Imagem de Perfil" style="width:180px">

                                        <!-- <div class="form-group mt-3 mb-3 ml-3 ">
                                            <label class="d-flex justify-content-center">Foto de Perfil</label>
                                            <input type="text" class="form-control" id="fotoPerfil"
                                                placeholder="Link Foto">

                                            <button
                                                class="btn btn-outline-success btn-sm d-flex justify-content-center mt-2 "
                                                type="button">Alterar</button>
                                        </div> -->
                                    </div>
                                    <!-- Campo Foto de Perfil + Campo URL + Botão -->

                                    <!-- Campo, dados do usuario -->
                                    <div class="form-group mt-3">
                                        <label for="validationServernome">Nome</label>
                                        <input type="text" class="form-control" id="nome" placeholder="Nome e Sobrenome"
                                            [(ngModel)]='user.nome'>
                                        <div class="invalid-feedback">Favor verificar o campo Nome.</div>

                                    </div>

                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <input type="email" class="form-control" id="email"
                                            placeholder="e-mail@email.com" [(ngModel)]='user.email'>
                                    </div>

                                    <div class="form-group">
                                        <label for="telefone">Telefone</label>
                                        <input type="text" class="form-control" id="telefone" placeholder="1199999-9999"
                                            [(ngModel)]='user.telefone'>
                                    </div>

                                    <div class="form-group">
                                        <label for="senha">Senha</label>
                                        <input type="password" class="form-control" id="senha" placeholder="Senha"
                                            (input)='conferirSenha($event)' value='{{senha}}'>

                                    </div>

                                    <div class="form-group">
                                        <label for="senhaConf">Confirmar Senha</label>
                                        <input type="password" class="form-control" id="senhaConf"
                                            placeholder="Confirmar Senha" [(ngModel)]='user.senha'>
                                    </div>
                                    <!-- Campo, dados do usuario -->


                                    <!-- Check termos de uso -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck">

                                        
                                        <a type="text" class="primary" data-toggle="modal"
                                            data-target="#ModalLongoExemplo">
                                            Concordo com os termos e condições de uso.</a>

                                    </div>
                                    <!-- Check termos de uso -->


                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            
                            <!-- Botão cadastrar -->
                            <button type="button" class="btn btn-success" (click)="cadastrar()"
                                data-dismiss="modal">Cadastrar</button>
                            <!-- Botão cadastrar -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- /Modal Cadastro de usuario -->

            <!-- Imagen sustentabilidade, ao lado do texto SustentArt -->
            <div class="col-md-6">
                <img class="ml-5"
                    src="https://www.isover.com.br/sites/isover.com.br/files/styles/isvr_default/public/assets/images/isover_sustentabilidade_materia.jpg"
                    alt="sustentabilidade">
            </div>
            <!-- Imagen sustentabilidade, ao lado do texto SustentArt -->

        </div>

        <!-- Pagina 1 do Carousel -->
        <div id="carouselExampleFade" class="carousel slide carousel-fade mt-5" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="card-columns text-center">

                            <div class="card border border-primary">
                                <img class="card-img-top"
                                    src="https://www.gnrambiental.com.br/noticias/wp-content/uploads/2019/02/alternativa_de_reciclagem_01.png"
                                    alt="alternativa_de_reciclagem_01">
                                <div class="card-body">
                                    <h5 class="card-title">Alternativa de Reciclagem</h5>
                                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Porro, debitis autem natus aperiam perspiciatis, quos rem eveniet magnam rerum
                                        atque dolorem temporibus accusantium distinctio tempora. Dolor animi debitis
                                        mollitia nulla!
                                    </p>
                                    <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small>
                                    </p>
                                </div>
                            </div>

                            <div class="card text-center border border-primary">
                                <div class="card-body">
                                    <img class="card-img"
                                        src="https://www.gnrambiental.com.br/noticias/wp-content/uploads/2019/02/alternativa_de_reciclagem_02.png"
                                        alt="Alternativa de Reciclagem">
                                    <h5 class="card-title">Alternativa de Reciclagem</h5>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                        Aspernatur incidunt quos culpa fugiat commodi facilis delectus, blanditiis
                                        beatae ad ex sit
                                        pariatur nam laboriosam laborum ipsa esse? Nihil, alias laboriosam?</p>
                                    <p class="card-text"><small class="text-muted">Atualizados 30 minutos atrás</small>
                                    </p>
                                </div>
                            </div>

                            <div class="card text-center border border-primary">
                                <div class="card-body">
                                    <img class="card-img-top"
                                        src="https://blog.brkambiental.com.br/wp-content/uploads/2019/07/original-b742306ee3cd42b3c57b1a4b986bcb0c.jpg"
                                        alt="Alternativa de Reciclagem">
                                    <h5 class="card-title"><br>Alternativa de Reciclagem</h5>
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                                    <p class="card-text"><small class="text-muted">Atualizados 20 minutos atrás</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagina 2 do Carousel -->
                <div class="carousel-item">
                    <div class="container">
                        <div class="card-columns text-center">

                            <div class="card text-center  border border-primary">
                                <img class="card-img-top"
                                    src="https://www.moblee.com.br/blog/wp-content/uploads/sites/2/2017/07/praticas-de-sustentabilidade-eventos.png"
                                    alt="Alternativa de Reciclagem">
                                <div class="card-body">
                                    <h5 class="card-title">Alternativa de Reciclagem</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Maxime facere quasi praesentium beatae fuga? Necessitatibus numquam asperiores,
                                        sint nisi delectus
                                        dicta optio repellendus animi quaerat autem soluta consectetur corporis rem.</p>
                                    <p class="card-text"><small class="text-muted">Atualizados 10 minutos atrás</small>
                                    </p>
                                </div>
                            </div>

                            <div class="card text-center  border border-primary">
                                <div class="card-body">
                                    <img class="card-img"
                                        src="https://www.greenfm.com.br/wp-content/uploads/2018/08/sustentabilidade-660x330.jpg"
                                        alt="Alternativa de Reciclagem">
                                    <h5 class="card-title">Alternativa de Reciclagem</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
                                        numquam sequi? Recusandae molestias, nulla assumenda non ullam nihil illo ate,
                                        sapiente
                                        labore modi ipsam sed officia eveniet quo eligendi? Harum, numquam sequi?
                                        Recusandae
                                        molestias</p>
                                    <p class="card-text"><small class="text-muted">Atualizados 7 minutos atrás</small>
                                    </p>
                                </div>
                            </div>

                            <div class="card text-center  border border-primary">
                                <div class="card-body">
                                    <img class="card-img"
                                        src="https://www.fragmaq.com.br/wp-content/uploads/2015/04/1-Sustentabilidade.jpg"
                                        alt="Alternativa de Reciclagem">
                                    <h5 class="card-title">Alternativa de Reciclagem</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Similique commodi inventore, dolores eveniet porro reiciendis aliquam. Ab quae a
                                        nesciunt quibusdam tenetur porro perferendis saepe, mollitia sapiente ullam
                                        officiis temporibus.</p>
                                    <p class="card-text"><small class="text-muted">Atualizados 15 minutos atrás</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Termos e condições de uso -->
    <div class="modal fade" id="ModalLongoExemplo" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalLongoExemplo"> Condições de uso <b><i>SustentArt</i></b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. <br>

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                    laoreet rutrum faucibus dolor auctor. <br>

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. <br>

                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. <br>

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                    laoreet rutrum faucibus dolor auctor. <br>

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. <br>

                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. <br>

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                    laoreet rutrum faucibus dolor auctor. <br>

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. <br>

                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                    eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. <br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Termos e condições de uso -->

</div>