<!-- Pagina 1 do Carousel Feed -->
<div id="carouselExampleFade" class="carousel slide center carousel-fade mt-5" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="card-columns text-center">
  
            <div class="card border border-primary">
              <div class="card-body">
                <img class=" card-img-top" src="assets/Carousel Feed/1.jpeg" alt="alternativa_de_reciclagem_01">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 3 minutos atrás</small>
                </p>
              </div>
            </div>
  
            <div class="card text-center border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/2.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 30 minutos atrás</small>
                </p>
              </div>
            </div>
  
            <div class="card text-center border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/3.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 20 minutos atrás</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Pagina 1 do Carousel Feed -->
  
      <!-- Pagina 2 do Carousel Feed -->
      <div class="carousel-item">
        <div class="container">
          <div class="card-columns text-center">
  
            <div class="card text-center  border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/4.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 10 minutos atrás</small>
                </p>
              </div>
            </div>
  
            <div class="card text-center  border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/6.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 7 minutos atrás</small>
                </p>
              </div>
            </div>
  
            <div class="card text-center  border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/5.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 15 minutos atrás</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / Pagina 2 do Carousel Feed -->
    </div>
  </div>