<div class="container">
  
  <!-- Pagina 1 do Carousel Feed -->
  <div id="carouselExampleFade" class="carousel slide carousel-fade mt-5" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="card-columns text-center">

            <div class="card border border-primary">
              <div class="card-body">
                <img class=" card-img-top" src="assets/Carousel Feed/1.jpeg" alt="alternativa_de_reciclagem_01">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 3 minutos atrás</small>
                </p>
              </div>
            </div>

            <div class="card text-center border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/2.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 30 minutos atrás</small>
                </p>
              </div>
            </div>

            <div class="card text-center border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/3.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 20 minutos atrás</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagina 1 do Carousel Feed -->

      <!-- Pagina 2 do Carousel Feed -->
      <div class="carousel-item">
        <div class="container">
          <div class="card-columns text-center">

            <div class="card text-center  border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/4.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 10 minutos atrás</small>
                </p>
              </div>
            </div>

            <div class="card text-center  border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/6.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 7 minutos atrás</small>
                </p>
              </div>
            </div>

            <div class="card text-center  border border-primary">
              <div class="card-body">
                <img class="card-img-top" src="assets/Carousel Feed/5.jpeg" alt="Alternativa de Reciclagem">
                <p class="card-text"><small class="text-muted mb-2">Atualizados 15 minutos atrás</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / Pagina 2 do Carousel Feed -->
    </div>
  </div>

  <hr>

  <div class="justify-content-center m-5">
    <div class="jumbotron jumbotron-fluid justify-content-center m-5">
      <div class="container">
        <h1 class="display-4">Qual é o seu interesse?</h1>
        <p class="lead">Nos diga o que está procurando.</p>
      </div>
    </div>
 
    
    <div class="form-group">
      <label for="titulo">Título:</label>
      <input type="text" class="form-control" id="titulo" placeholder="Digite aqui o seu titulo"
        [(ngModel)]='postagem.titulo'>
    </div>
    <div class="form-group">
      <label for="data">Data:</label>
      <input type="date" class="form-control" id="data" placeholder="Ex: dd/mm/aaaa" [(ngModel)]='postagem.data'>
    </div>
    <div class="form-group">
      <label for="regiao">Região:</label>
      <input type="text" class="form-control" id="regiao" placeholder="Digite a sua região..."
        [(ngModel)]='postagem.regiao'>
    </div>
    <div class="form-group">
      <label for="imagem">Imagem:</label>
      <input type="text" class="form-control" id="imagem" placeholder="http://imagem.com" [(ngModel)]='postagem.imagem'>
    </div>

    <div class="form-group">
      <label for="material">Material:</label>
      <input type="text" class="form-control" id="material" placeholder="Digite aqui o tipo de material"
        [(ngModel)]='postagem.material'>
    </div>

    <div class="form-group">
      <label for="texto">Texto:</label>
      <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto"
        [(ngModel)]='postagem.texto'></textarea>
    </div>

    <div class="row d-flex align-items-end">

      <div class="col-md-6">
        <div class="form-group m-0">
          <label for="tema">Escolha um tema ou <a href="">Cadastre um novo</a></label>
          <!--colocar routerLink ="/cadastro-tema"-->
          <select name="tema" id='tema' class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value={{item.id}}>
              {{item.conteudo}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-end">
        <button type="button" class="btn btn-outline-info w-25" (click)='publicar()'>Publicar</button>
      </div>
    </div>
  </div>
  <hr class="mt-5 mb-5">

  <nav class="d-flex justify-content-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab"
        href="#minhas-postagens" role="tab" aria-controls="nav-home" aria-selected="true">Minhas Postagens</a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-profile-tab" data-toggle="tab"
        href="#postagens-temas" role="tab" aria-controls="nav-profile" aria-selected="false">Postagens por tema</a>
      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-data-tab" data-toggle="tab"
        href="#postagens-data" role="tab" aria-controls="nav-profile" aria-selected="true">Postagens por data</a>
      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-regiao-tab" data-toggle="tab"
        href="#postagens-regiao" role="tab" aria-controls="nav-profile" aria-selected="true">Postagens por região</a>

      <!--LISTA DE POSTAGENS PARA VISUALIZAÇÃO, EDIÇÃO E DELETE-->

      <div class="col-md-2 pl-0">
        <button class="btn btn-outline-warning w-100" type="button">Pesquisar</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card mt-5" *ngFor="let item of listaPostagens | orderBy: key: reverse">
          <div class="card-header">
            <div class="row d-flex align-items-center">
              <div class="col-md-8">
                <h5 class="card-title">{{item.titulo}}</h5>
                <small>
                  <Tema:>{item.tema.conteudo}</Tema:>
                </small>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <button class="mr-3 btn btn-outline-info" [routerLink]="['/edita-post', item.id]">
                  <!--Confirmar se end-point está correto-->
                  Editar
                </button>

                <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-post', item.id]">
                  Apagar
                </button>

              </div>
            </div>
          </div>
          <!-- <div class="card-body">
            <p class="card-text" aria-describedby="texto"> {{item.descricao}} </p>
            <small id="texto" class="form-text m-0 text-muted mb-3 text-monospace">Postado em:
              {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}} </small>
          </div> -->
        </div>
      </div>

      <div class="form-group">
        <label for="texto">Texto:</label>
        <textarea class="form-control" id="texto" rows="3" placeholder="Digite aqui o seu texto"
          [(ngModel)]='postagem.texto'></textarea>
      </div>

      <div class="row d-flex align-items-end">

        <div class="col-md-6">
          <div class="form-group m-0">
            <label for="tema">Escolha um tema ou <a href='/cadastro-tema'>Cadastre um novo</a></label>
            <!--colocar routerLink ="/cadastro-tema"-->
            <select name="tema" id='tema' class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option *ngFor='let item of listaTemas' value={{item.id}}>
                {{item.conteudo}}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-end">
          <button type="button" class="btn btn-outline-info w-25" (click)='publicar()'>Publicar</button>
        </div>
      </div>
      <!--/LISTA DE POSTAGENS PARA VISUALIZAÇÃO, EDIÇÃO E DELETE-->

  </nav>

  <div class="row">
    <div class="col-md-12">

      <div class="card mt-5" *ngFor="let item of listaPostagens | orderBy: key : reverse">
        <div class="card-header">
          <div class="row d-flex align-items-center">
            <div class="col-md-8">
              <h5 class="card-title">{{item.titulo}}</h5>
              <small>Tema: {{item.tema.descricao}} </small>
            </div>
            <div class="col-md-4 d-flex justify-content-end">

              <button class="mr-3 btn btn-outline-info" [routerLink]="['/edita-post',item.id]">Editar</button>
              <button class="btn btn-outline-danger ml-3" [routerLink]="['/delete-post',item.id]">Apagar</button>
            </div>
          </div>
        </div>
        <!-- <div class="card-body">
          <p class="card-text" aria-describedby="texto">{{item.descricao}}</p>
          <small id="texto" class="form-text m-0 text-muted mb- text-monospace">Postado em:
            {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
          </small>
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>