<div class="container">

  <!-- NavBar -->
  <nav class="navbar navbar-light bg-light py-2 d-flex align-items-center">
    <a class="navbar-brand" href="#">
      <img src="../assets/logoSustentart.png" width="30" height="30" class="d-inline-block align-top" alt=""> SustentArt
    </a>
  </nav>

  <div class="container text-center mt-3">
    <p>O problema social escolhido está incluído dentro da ODS 12: Consumo e produção responsáveis. A ideia é trazer
      impacto na sociedade através da diminuição do desperdício, reaproveitando recursos, ao mesmo tempo, criar uma rede
      de apoio na comunidade.</p>

    <p>Como motivação, pensamos no fato de que vivemos em uma sociedade desigual, na qual a fome está aumentando, e a
      dificuldade de acesso a produtos também. Desta forma, conectar determinadas comunidades numa rede de apoio mútuo,
      repensando a destinação de produtos muitas vezes considerados como lixo pode ajudar pequenos produtores e artesãos
      com matéria prima para elaborar e vender seus produtos.</p>
  </div>

  <!-- jumbotron -->
  <div class="jumbotron jumbotron-fluid mt-3 jumbotron_bg_color">
    <div class="container">
      <h1 class="display-4">Nosso Time</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quaerat enim, consequuntur ipsa
        molestias quibusdam, iure nesciunt in laudantium omnis laboriosam! Eligendi quas suscipit minima labore impedit
        saepe obcaecati ea.</p>
    </div>
  </div>

  <!-- Fotos Equipe -->
  <ul class="list-unstyled mt-3">

    <li class="media my-5">
      <img class="mr-3 border border-primary rounded"
        src="https://avatars2.githubusercontent.com/u/58067780?s=400&u=bec1891b7c73328b12cc1617f9d592dd6755cdb0&v=4"
        alt="alternativa_de_reciclagem_01" style="width:180px">
      <div class="media-body d-flex justify-content-center flex-column">
        <h5 class="mt-0 mb-1">Weslley Rocha</h5>
        <p>Paulista, 25 anos e apaixonado por tecnologia. Técnico em TI, formado em redes de computadores e agora
          cursando o 3º semestre em Gestão de T.I na UNIP. Focado em aprofundar meu conhecimento, concorri com mais de 2
          mil candidatos e fui aprovado para o Bootcamp da Generation Brasil para Desenvolvimento Web Java Jr. No tempo
          livre gosto de me conectar com a natureza, praticar atividade física e jogar video game.</p>
        
        <p class="d-flex">
          <a href="https://www.linkedin.com/in/weslleyrocha/" target="_blank">
            <fa-icon [icon]="faLinkedin" class="fa-2x mr-2 text-primary" ></fa-icon>
          </a>

          <a href="https://github.com/WeslleyRocha" target="_blank">
            <fa-icon [icon]="faGithubSquare" class="fa-2x mr-2 text-dark"  ></fa-icon>
          </a>
        </p>
      </div>


    </li>

    <li class="media my-5">
      <img class="mr-3 border border-success rounded"
        src="https://avatars0.githubusercontent.com/u/67073331?s=400&u=8a38d0a20fa672ce80b9187f5582a1b4f8e563c5&v=4"
        alt="Imagem de exemplo genérica" style="width:180px">
      <div class="media-body d-flex justify-content-center flex-column">
        <h5 class="mt-0 mb-1">Vanessa Marchetti </h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.</p>

        <p class="d-flex">
          <a href="https://www.linkedin.com/in/weslleyrocha/" target="_blank">
            <fa-icon [icon]="faLinkedin" class="fa-2x mr-2 text-primary" ></fa-icon>
          </a>

          <a href="https://github.com/WeslleyRocha" target="_blank">
            <fa-icon [icon]="faGithubSquare" class="fa-2x mr-2 text-dark"  ></fa-icon>
          </a>
        </p>
      </div>
    </li>

    <li class="media my-5">
      <img class="mr-3 border border-primary rounded"
        src="https://media-exp1.licdn.com/dms/image/C4D35AQE85xrAJ6dJwA/profile-framedphoto-shrink_800_800/0?e=1604710800&v=beta&t=-oBvmfJG-kJ_YgdzHmSE8_zHdONt-TPBdDOjnCr4BJE"
        alt="Imagem de exemplo genérica" style="width:180px">
      <div class="media-body d-flex justify-content-center flex-column">
        <h5 class="mt-0 mb-1">Josimar Santos</h5>
        <p>Lorem ipsum dolor sit amet, consectetur Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.adipisicing elit. Eos iusto sint ut consequatur nostrum? Eos fugit accusamus pariatur ratione ab, molestias vel quo maxime autem esse deserunt ut distinctio reiciendis.</p>

        <p class="d-flex">
          <a href="https://www.linkedin.com/in/weslleyrocha/" target="_blank">
            <fa-icon [icon]="faLinkedin" class="fa-2x mr-2 text-primary" ></fa-icon>
          </a>

          <a href="https://github.com/WeslleyRocha" target="_blank">
            <fa-icon [icon]="faGithubSquare" class="fa-2x mr-2 text-dark"  ></fa-icon>
          </a>
        </p>
      </div>
    </li>

    <li class="media my-5">
      <img class="mr-3 border border-success rounded"
        src="https://avatars3.githubusercontent.com/u/62780640?s=400&u=b06c94008530110721627afb1002bde0cb1a6627&v=4"
        alt="Imagem de exemplo genérica" style="width:180px">
      <div class="media-body d-flex justify-content-center flex-column">
        <h5 class="mt-0 mb-1">Henrique Tanaka</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At corporis exercitationem veniam quae ducimus atque eius dignissimos sunt aliquid consequatur culpa voluptas, quos perferendis maxime alias molesCras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
          vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
          lacinia congue felis in faucibus.tias blanditiis minima voluptatem?</p>

        <p class="d-flex">
          <a href="https://www.linkedin.com/in/weslleyrocha/" target="_blank">
            <fa-icon [icon]="faLinkedin" class="fa-2x mr-2 text-primary" ></fa-icon>
          </a>

          <a href="https://github.com/WeslleyRocha" target="_blank">
            <fa-icon [icon]="faGithubSquare" class="fa-2x mr-2 text-dark"  ></fa-icon>
          </a>
        </p>
        
      </div>
    </li>
  </ul>
</div>