<!-- Footer -->
<footer class="page-footer mt-3 pt-3 bg-cl2">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <div class="row">
        <!-- <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Desbrave novos conteúdos:</h4>
        </div> -->
      </div>
  
      <div class="row">
        <div class="col-md-6 d-flex justify-content">
          <ul class="text-light">
            <li><a href="#" class="text-light">Sobre nós</a></li> <!--FAZER LIGAÇÃO COM O COMPONENTE SOBRE NÓS-->
            <li><a href="https://unitedpeople.global/" target="_blank" class="text-light">Conheça outros projetos</a></li>
          </ul>
        </div>

          <div class="col-md-5">
            <ul>
              <li>
                <a class="text-light" href="https://revistacasaejardim.globo.com/Casa-e-Jardim/Sustentabilidade/noticia/2020/08/bela-gil-mostra-transformacao-de-campo-de-futebol-em-agrofloresta.html" target="_blank">Exemplos que fazem a diferença</a>
              </li>
              <li>
                <a class="text-light" href="https://brazil.generation.org/" target="_blank">Políticas de uso</a>
              </li>
            </ul>
          </div>
      </div>
      </div>
  
      <!-- Call to action -->
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-cl">
        <span class="text-light"> © 2020 Copyright: </span>
        <a class="text-light" href="https://github.com/WeslleyRocha/Projeto-Integrador-Generation/blob/documenta%C3%A7%C3%A3o_metodos/Back-End/Documenta%C3%A7%C3%A3o%20de%20Volta%20-End.md">SustentArt no Github</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->